name: CI (.NET 10)

on:
  push:
    branches: [ "master" ]
  pull_request:
    branches: [ "master" ]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - name: Fazer checkout do código
      uses: actions/checkout@v4

    - name: Configurar SDK .NET 10
      uses: actions/setup-dotnet@v4
      with:
        dotnet-version: "10.0.x"

    - name: Restaurar dependências
      run: dotnet restore

    - name: Compilar (Release)
      run: dotnet build --configuration Release --no-restore